.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 20px 20px;
  font-weight: 700;
  color: #13c1a3;

  input {
    opacity: 0;
    position: absolute;
  }

  &Button {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #13c1a3;
  }

  input:checked + &Button {
    background-color: #13c1a3;
    box-shadow: inset 0 0 0 2px white;
  }
}