.wrapper{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #dddddd4d;

}
.content
{
  max-width: 500px;
  margin: auto;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  padding: 25px;
  border-radius: 5px;
}
.contentSuccess
{
  @extend .content;
  background: green;
}

.contentWarning
{
  @extend .content;
  background: orange;
}

.contentError
{
  @extend .content;
  background: red;
}

.contentInfo
{
  @extend .content;
  background: blue;
}