@keyframes appear {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.wrapper
{
  width: 100%;
  box-shadow: 0 10px 40px -15px rgba(#818181, .5);
  border:1px solid #13c1a3;
  border-radius: 5px;
  color: #fff;
  position: relative;
  animation: appear .5s ease;
}
.title{
  font-size: 25px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #13c1a3;
  margin: 0 0 20px 0;
  padding: 10px 40px;
  color: #fff;
}
.text
{
  font-size: 16px;
  padding: 10px;
  font-weight: 300;
  color: #fff;
}

.editButton
{
  position: absolute;
  top: 5px;
  left: 5px;
  color:#ddd;
  font-size: 25px;
  background: transparent;
}
.deleteButton
{
  @extend .editButton;
  right: 5px;
  left: auto;
  color: #dc3545;
}